<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}" />

        {% if title %}
        <title>{{ title }} - BRL</title>
        {% else %}
        <title>BRL</title>
        {% endif %}
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>    
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://localhost:5000');           
                
            socket.on('message', function(message) {
                console.log(message);
                $('#sample').text(message)
    })           
        </script>
    </head>
    <body>
        <div class="App">
            <header class="App-header">
                <img src="/static/brlfullwhite.png" class="App-brl-logo" alt='BRL Logo' />
                <img src="/static/uwelogo.png" class="App-uwe-logo" />
                <img src=/static/uoblogo.png class="App-uob-logo" />
                <h1 class="App-title">Assisted Living Studio</h1>

            </header>



        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </body>
</html>