{% extends "base.html" %}

{% block content %}
    <header><script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    </header>
    <div class="welcome">Welcome</div>
    <div align="center">
        <h1>Please enter participant ID to begin</h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p>
            {{ form.ID.label }}
            {{ form.ID(size=5) }}<br>
            {% for error in form.ID.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>
            <p>{{ form.submit( onclick="$('#loading').show()" ) }}</p>
            
        </form>
        <div id="loading" style="display:none;"><img src="loading.gif" alt="" />Loading!</div>

    </div>
{% endblock %}